s {
    position: absolute;
    top: 1px;
    right: 0;
    width: 32px;
    height: 32px;
    background: url("../images/arrow.png") no-repeat;
}
._citys {
    background: #eee;
    width: 450px;
    display: inline-block;
    border: 2px solid #eee;
    padding: 5px;
    position: relative;
}

._citys span {
    color: #a355ff;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #a355ff;
    cursor: pointer;
}

._citys0 {
    width: 95%;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    border-bottom: 2px solid #a355ff;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 6px;
}

._citys0 li {
    display: inline-block;
    line-height: 34px;
    font-size: 15px;
    color: #888;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

._citys1 {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}

._citys1 a {
    width: 83px;
    height: 35px;
    display: inline-block;
    background-color: #f5f5f5;
    color: #666;
    margin-left: 6px;
    margin-top: 3px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    overflow: hidden;
}

._citys1 a:hover {
    color: #fff;
    background-color: #a355ff;
}

.AreaS {
    background-color: #a355ff !important;
    color: #fff !important;
}