<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jia.mapper.TCommentGreatMapper" >
  <resultMap id="BaseResultMap" type="com.jia.entity.TCommentGreat" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="comment_id" property="commentId" jdbcType="BIGINT" />
    <result column="consumer_id" property="consumerId" jdbcType="BIGINT" />
    <result column="is_fabulous" property="isFabulous" jdbcType="BIT" />
    <result column="is_step" property="isStep" jdbcType="BIT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMap" type="com.jia.entity.TCommentGreat" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="comment_id" property="commentId" jdbcType="BIGINT" />
    <result column="consumer_id" property="consumerId" jdbcType="BIGINT" />
    <result column="is_fabulous" property="isFabulous" jdbcType="BIT" />
    <result column="is_step" property="isStep" jdbcType="BIT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <collection property="tConsumer" ofType="com.jia.entity.TConsumer" javaType="com.jia.entity.TConsumer">
      <id column="c_id" property="id" jdbcType="BIGINT" />
      <result column="c_name" property="name" jdbcType="VARCHAR" />
      <result column="c_address" property="address" jdbcType="VARCHAR" />
      <result column="c_img" property="img" jdbcType="VARCHAR" />
      <result column="c_phone" property="phone" jdbcType="BIGINT" />
      <result column="c_email" property="email" jdbcType="VARCHAR" />
      <result column="c_id_card" property="idCard" jdbcType="VARCHAR" />
      <result column="c_native_place" property="nativePlace" jdbcType="VARCHAR" />
    </collection>
    <collection property="tDoctorComment" ofType="com.jia.entity.TDoctorComment" javaType="com.jia.entity.TDoctorComment">
      <id column="d_id" property="id" jdbcType="BIGINT"/>
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, comment_id, consumer_id, is_fabulous, is_step, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jia.entity.TCommentGreatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_comment_great
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByConsumerIdAndCommentId" resultMap="ResultMap" >
    SELECT t_comment_great.id as id,t_comment_great.consumer_id,t_comment_great.comment_id,t_comment_great.is_fabulous,
           t_comment_great.is_step,t_comment_great.gmt_create,t_comment_great.gmt_modified
    FROM t_comment_great
    WHERE t_comment_great.comment_id = #{commentId,jdbcType=BIGINT} AND t_comment_great.consumer_id = #{consumerId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_comment_great
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByExample" parameterType="com.jia.entity.TCommentGreatExample" >
    delete from t_comment_great
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jia.entity.TCommentGreat" >
    insert into t_comment_great (id, comment_id, consumer_id, 
      is_fabulous, is_step, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{commentId,jdbcType=BIGINT}, #{consumerId,jdbcType=BIGINT}, 
      #{isFabulous,jdbcType=BIT}, #{isStep,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jia.entity.TCommentGreat" >
    insert into t_comment_great
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="consumerId != null" >
        consumer_id,
      </if>
      <if test="isFabulous != null" >
        is_fabulous,
      </if>
      <if test="isStep != null" >
        is_step,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="consumerId != null" >
        #{consumerId,jdbcType=BIGINT},
      </if>
      <if test="isFabulous != null" >
        #{isFabulous,jdbcType=BIT},
      </if>
      <if test="isStep != null" >
        #{isStep,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jia.entity.TCommentGreatExample" resultType="java.lang.Integer" >
    select count(*) from t_comment_great
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_comment_great
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.commentId != null" >
        comment_id = #{record.commentId,jdbcType=BIGINT},
      </if>
      <if test="record.consumerId != null" >
        consumer_id = #{record.consumerId,jdbcType=BIGINT},
      </if>
      <if test="record.isFabulous != null" >
        is_fabulous = #{record.isFabulous,jdbcType=BIT},
      </if>
      <if test="record.isStep != null" >
        is_step = #{record.isStep,jdbcType=BIT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_comment_great
    set id = #{record.id,jdbcType=BIGINT},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      consumer_id = #{record.consumerId,jdbcType=BIGINT},
      is_fabulous = #{record.isFabulous,jdbcType=BIT},
      is_step = #{record.isStep,jdbcType=BIT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jia.entity.TAppointmentSchedule" >
    update t_comment_great
    set id = #{record.id,jdbcType=BIGINT},
        comment_id = #{record.commentId,jdbcType=BIGINT},
        consumer_id = #{record.consumerId,jdbcType=BIGINT},
        is_fabulous = #{record.isFabulous,jdbcType=BIT},
        is_step = #{record.isStep,jdbcType=BIT},
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    where id = #{record.id,jdbcType=BIGINT}
  </update>
</mapper>